<section class="container">
    
<form class="content" [formGroup]="form">
    <label class="title">{{title}}</label>
    <br><br>
    <label>Nome</label>
    <br>
    <input formControlName="nome" required>
    <label class="text-danger" *ngIf="nome.touched && nome.invalid">O campo nome é obrigatório</label>
    <br>
    <br>
    <label>E-mail</label>
    <br>

    <input formControlName="email" required>
    <label class="text-danger" *ngIf="email.touched && email.hasError('required')">O campo email é
        obrigatório</label>
    <label class="text-danger" *ngIf="email.touched && email.hasError('email')">Email inválido</label>
    <br>
    <br>

    <label>Tipo de Pessoa</label>
    <br>
    <select formControlName="tipoPessoa">
        <option value="FISICA">Fisica</option>
        <option value="JURIDICA">Juridica</option>
    </select>
    <br>
    <label class="text-danger" *ngIf="tipoPesssoa.touched && tipoPesssoa.hasError('required')">Informe o tipo de
        pessoa</label>
    <br>
    <br>

    <label>CPF:</label>
    <br>
    <input formControlName="cpf">
    <br>
    <br>

    <label>CNPJ</label>
    <br>
    <input formControlName="cnpj">
    <br>
    <br>

    <label>Mensagem</label>
    <br>
    <input formControlName="mensagem">
    <br>
    <br>

    <button (click)="salvar()">Salvar</button>
    <button (click)="limpar()">Limpar</button>
</form>
</section>

<section class="container">
    <div class="content">
        <div class="content-panel">
            <span class="panel-header">&nbsp;Resultado</span>
            <p>
                <label>Nome:</label> {{nome.value}}
            </p>
            <p>
                <label>E-mail:</label> {{email.value}}
            </p>
            <p>
                <label>CPF:</label> {{cpf.value}}
            </p>
            <p>
                <label>CNPJ:</label> {{cnpj.value}}
            </p>
            <p>
                <label>Mensagem:</label> {{mensagem.value}}
            </p>
        </div>
    </div>
</section>
